# schema for konsole (KDE3)
# put in ~/.kde/share/apps/konsole/

title Base16 {{scheme-name}}

#   slot    transparent bold
#      | red grn blu  | |
#      V V--color--V  V V
color  0 {{base05-rgb-r-fw}} {{base05-rgb-g-fw}} {{base05-rgb-b-fw}}  0 0 # 0 - Foreground Color
color  1 {{base00-rgb-r-fw}} {{base00-rgb-g-fw}} {{base00-rgb-b-fw}}  1 0 # 1 - Background Color
color  2 {{base00-rgb-r-fw}} {{base00-rgb-g-fw}} {{base00-rgb-b-fw}}  0 0 # 2 - Color 0 (black)
color  3 {{base08-rgb-r-fw}} {{base08-rgb-g-fw}} {{base08-rgb-b-fw}}  0 0 # 3 - Color 1 (red)
color  4 {{base0B-rgb-r-fw}} {{base0B-rgb-g-fw}} {{base0B-rgb-b-fw}}  0 0 # 3 - Color 2 (green)
color  5 {{base0A-rgb-r-fw}} {{base0A-rgb-g-fw}} {{base0A-rgb-b-fw}}  0 0 # 3 - Color 3 (yellow)
color  6 {{base0D-rgb-r-fw}} {{base0D-rgb-g-fw}} {{base0D-rgb-b-fw}}  0 0 # 3 - Color 4 (blue)
color  7 {{base0E-rgb-r-fw}} {{base0E-rgb-g-fw}} {{base0E-rgb-b-fw}}  0 0 # 3 - Color 5 (magenta)
color  8 {{base0C-rgb-r-fw}} {{base0C-rgb-g-fw}} {{base0C-rgb-b-fw}}  0 0 # 3 - Color 6 (cyan)
color  9 {{base05-rgb-r-fw}} {{base05-rgb-g-fw}} {{base05-rgb-b-fw}}  0 0 # 3 - Color 7 (white)
color 10 {{base05-rgb-r-fw}} {{base05-rgb-g-fw}} {{base05-rgb-b-fw}}  0 1 # 3 - Foreground Intensive Color
color 11 {{base00-rgb-r-fw}} {{base00-rgb-g-fw}} {{base00-rgb-b-fw}}  1 0 # 3 - Background Intensive Color
color 12 {{base03-rgb-r-fw}} {{base03-rgb-g-fw}} {{base03-rgb-b-fw}}  0 0 # 3 - Color 0 Intensive (grey)
color 13 {{base09-rgb-r-fw}} {{base09-rgb-g-fw}} {{base09-rgb-b-fw}}  0 0 # 3 - Color 1 Intensive (light red)
color 14 {{base01-rgb-r-fw}} {{base01-rgb-g-fw}} {{base01-rgb-b-fw}}  0 0 # 3 - Color 2 Intensive (light green)
color 15 {{base02-rgb-r-fw}} {{base02-rgb-g-fw}} {{base02-rgb-b-fw}}  0 0 # 3 - Color 3 Intensive (light yellow)
color 16 {{base04-rgb-r-fw}} {{base04-rgb-g-fw}} {{base04-rgb-b-fw}}  0 0 # 3 - Color 4 Intensive (light blue)
color 17 {{base06-rgb-r-fw}} {{base06-rgb-g-fw}} {{base06-rgb-b-fw}}  0 0 # 3 - Color 5 Intensive (light magenta)
color 18 {{base0F-rgb-r-fw}} {{base0F-rgb-g-fw}} {{base0F-rgb-b-fw}}  0 0 # 3 - Color 6 Intensive (light cyan)
color 19 {{base07-rgb-r-fw}} {{base07-rgb-g-fw}} {{base07-rgb-b-fw}}  0 0 # 3 - Color 7 Intensive (white)
